
/*#region HTML General*/
html {
  scroll-behavior: smooth;
    }

body {
    margin: 0;
    font-size: 28px;
    font-family: Arial, Helvetica, sans-serif;
    background-image: url("Images/Backgrounds/AColorTheory_BG.gif");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    max-width: 100%;
    max-height: 100%;
    box-sizing: border-box;

    }
  

  .content 
  {
    padding: 16px;
  }



  /*#endregion HTML General*/


/*#region HeaderNav*/
  .header {
    background-color: #f1f1f1;
    padding: 30px;
    text-align: center;
  }
  


  .topnav {
    position: sticky;
    z-index: 100;
    top: 0;
    overflow: hidden;
    background: linear-gradient(-45deg, #00ff0067 0%, #00ffff34 100% );
    box-shadow: 0 0 5px 5px rgba(0, 255, 0, 0.169);

    opacity: 1.0;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
  }

  .topnav .navbar-dropdown
  {
    display: none;
  }
  

  @media screen and (max-width: 680px) {
    .topnav a:not(:nth-child(4)) {display: none;}
    .topnav a.navbar-dropdown {
      position: sticky;
      float: right;
      display: block;
    }
  }
  

  @media screen and (max-width: 680px) {

    .topnav.responsive {position: sticky;}
    .topnav.responsive a.navbar-dropdown {
      position: sticky;
      right: 0;
      top: 0;
    }
    .topnav.responsive a {
      float: none;
      display: block;
      text-align: center;
    }
  }

  .topnav a {
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
    display: inline-block;
    font-weight: bold;
    opacity: 1.0;

    transition: 0.3s;
  }

  .topnav a:hover {
    background-color: #00eeff73;
    filter: brightness(0) saturate(100%) invert(76%) sepia(67%) saturate(2227%) hue-rotate(133deg) brightness(98%) contrast(109%);
    box-shadow: 0 0 5px 5px green;
    scale: 1.2; 

  }



  
  .topnav a.active {
    color: rgb(255, 255, 255);
    opacity: 1.0;
  }

  .topnav a.header
  {
    color: rgb(255, 255, 255);
    text-align: left;
    font-size: larger;
    text-indent: 1%;
  }

  .navbar-icon
  {
    width: 30px;
    margin-bottom: -8px;
    text-decoration: none;
    background:rgba(1, 1, 1, 0);
    filter: invert(100%); 
  }


  .social-link
  {

    align-items: center;
    padding: 20px;
    font-size: 10px;
    width: 10px;
    text-align: center;
    text-decoration: none;
    margin: 4px 2px;
    background:rgba(1, 1, 1, 0);

    transition: 0.3s;
    
  }

  .social-link:hover
  {
    scale : 1.1; 
    filter: brightness(0) saturate(100%) invert(76%) sepia(52%) saturate(2353%) hue-rotate(132deg) brightness(99%) contrast(105%);
  }

  /*#endregion HeaderNav*/

  

/*#region Homepage Content*/
  .home-content
  {

    display: grid;
    align-content: flex-start;
  
    grid-template-columns: repeat(auto-fill, 700px);
    grid-template-rows: auto;
    grid-auto-rows: min-content;
  
    justify-items: center;
    justify-content: center;
    align-self: center;
    
  
  }




  .home-holder
  {
      align-items: center;
      align-self: center;
  }


  .home-large-text
  {
    font-family: 'Courier New', Courier, monospace;
    font-size: 80px;
    font-weight: 300;
    font-style: normal;
    line-height: 1.4;
    word-spacing: 0px;
    text-transform: none;
    text-decoration: none;
    text-align: center;
    align-self: c;
    color: rgb(255, 255, 255);

    
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .10em solid rgb(0, 255, 0); /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    animation: 
      typing 3.0s steps(40, end),
      blink-caret 1.25s step-end infinite;

  }

  .home-sub-text
  {
    font-family: 'Courier New', Courier, monospace;
    font-size: 30px;
    text-align: center;
    color: rgb(0, 255, 0);
    
  }

  

  @keyframes typing
  {
    from { width: 0 }
    to { width: 100% }
  }

    @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: rgb(0, 255, 0); }
  }

  .home-showcase-video
  {

    width: 620px;
    height: 350px;
    margin-top: 40px;
    margin-bottom: 40px;

    border-radius: 15px;
    display: flex;
    position: relative;
    text-align: center;
  
    border-style: none;

    background: linear-gradient(-45deg, #00ff0067 0%, #00ffff34 100% );
    box-shadow: 0 0 5px 5px rgba(0, 255, 0, 0.169);
    align-items: center;

    animation: fadeInCard 0.5s forwards ease-in-out; 

    transition: 0.3s;


  
  }

  .home-showcase-video:hover
  {
    scale: 1.03; 
    box-shadow: 0 0 10px 10px rgba(2, 251, 255, 0.286);
  }




  /*#endregion Homepage Content*/


/*#region Project Cards*/

 /* Card display grid*/
.card-holder
{
  display: flex;
  flex-wrap: wrap;
  place-items: center;
  align-self: center;
  justify-items: center;
  justify-content: center;
  align-self: center;
  gap: 100px;
  
}


 /* Singular Card holder for div centering */
.project-card
{
  width: 400px;
  align-self: top;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
  align-items: center;
  align-content: center;
  place-self: center;
  opacity: 0;
  animation: fadeInCard 0.5s forwards ease-in-out; 

}

@keyframes fadeInCard {

  from 
  {
    opacity: 0.0;

    position: relative;
    top: 50px;
  }
  to 
  {
    opacity: 1;
    transform: scaleY(1);
    transform: scaleX(1);

    position: relative;
    top: 0px;
  }
  
}


 /* Text below a card */
.card-text-holder
{
  color: #f1f1f1;
  font-size: 16px;
  font-family: 'Courier New', Courier, monospace;
  text-align: center;
  justify-items: center;
  justify-content: center;
  align-self: center;

}



 /* The image on a Card */
.project-card-image
{
  width: 400px;
  height: 240px;
  border-radius: 15px;
  display: flex;
  position: relative;
  text-align: center;
  transition: .25s;


  background: linear-gradient(-45deg, #00ff0067 0%, #00ffff34 100% );
  box-shadow: 0 0 5px 5px rgba(0, 128, 0, 0.26);
  align-items: center;
  text-align: center;


  transition: scale 0.3s, filter 0.3s; 

}


/* Card hover animation */ 
.project-card-image:hover
{
  scale: 1.03;
  filter: opacity(110%) invert(10%);
  box-shadow: 0 0 10px 10px rgba(2, 251, 255, 0.286);

}



/*#endregion Project Cards*/


/*#region Card Tags*/
.card-tags-holder
{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  column-gap: 10px;
  row-gap: 10px;
  margin: 10px 0;
}

.card-tag
{

  border-radius: 5px;
  font-size: 16px;
  color: rgb(255, 255, 255);
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  text-align: center;
  padding: 0 5px;

  transition: scale 0.3s; 
}

.card-tag:hover
{
  animation: spinOnClick 1.0s ease-in-out !important;
}


@keyframes spinOnClick 
{
  from 
  {
    transform: rotateX(0deg);
  }

  to
  {
    transform: rotateX(360deg);
  }
}

.card-tag[type="role"]
{
  color: rgb(32, 147, 114);
  box-shadow: 0 0 3px 3px rgba(32, 147, 114, 0.25);
}
.card-tag[type="project-type"]
{
  color: rgb(195, 6, 0);
  box-shadow: 0 0 3px 3px rgba(195, 6, 0, 0.25);
}
.card-tag[type="tool"]
{
  color: rgb(51, 94, 181);
  box-shadow: 0 0 3px 3px rgba(51, 94, 181, 0.25);
}
.card-tag[type="engine"]
{
  color: rgb(147, 58, 194);
  box-shadow: 0 0 3px 3px rgba(147, 58, 194, 0.25);
}
.card-tag[type="date"]
{
  color: rgb(207, 99, 11);
  box-shadow: 0 0 3px 3px rgba(207, 99, 11, 0.25);
}


/*#endregion Card Tags*/


/*#region Tool Cards */

 /* Card display grid*/
.tool-card-holder
{
  display: flex;
  flex-wrap: wrap;
  place-items: center;
  align-self: center;
  justify-items: center;
  justify-content: center;
  text-align: center;
  align-self: center;
  gap: 15px;
  margin-bottom: 50px;
  margin-top: 50px;
}


 /* Singular Tool Card holder for div centering */
.tool-card
{

  position: relative;
  width: 120px;
  height: 180px;
  background: linear-gradient(-45deg, #00ff0067 0%, #00ffff34 100% );
  box-shadow: 0 0 5px 5px rgba(0, 128, 0, 0.26);


  border-radius: 15px;
  transition: .25s;
  animation: fadeInCard 0.5s forwards ease-in-out; 

}

.tool-card:hover
{
    scale: 1.03;
    filter: brightness(0) saturate(100%) invert(76%) sepia(52%) saturate(2353%) hue-rotate(132deg) brightness(99%) contrast(105%);
    box-shadow: 0 0 5px 5px green;


}

.tool-card-image
{

  width: 75%;
  height: 50%;
  margin-top: 10px;
  filter: invert(100%);

}


.tool-card-text
{
  color: white; 
  font-family: 'Courier New', Courier, monospace;
  font-size: 20px;
  width: 80%;
  font-weight: bold;
  text-align: center;
}

.tool-card-text[type="two-line"]
{
    font-size: 16px;
}


/*#endregion Tool Cards */


/*#region AboutMe*/

.about-me-content
{


  display: grid;
  align-content: flex-start;

  grid-template-columns: repeat(auto-fill, 700px);
  grid-template-rows: auto;
  grid-auto-rows: min-content;

  justify-items: center;
  justify-content: center;
  align-self: center;

}

.about-me-holder
{
  width: 600px;

  justify-items: center;
  justify-content: center;
  align-self: center;

  margin-bottom: 50px;

}

.about-me-text
{
  font-family: Calibri;
  text-align: left;
  font-size: 20px;
  color: rgb(255, 255, 255);
}

.about-me-text[color="white"]
{
  --text-color: rgb(255, 255, 255);
}

.about-me-text[color="green"]
{
  --text-color: rgb(0, 255, 0);
}

.about-me-text
{
  color: var(--text-color);
}



.about-me-image
{
  width: 80%;

  background: linear-gradient(-45deg, #00ff0067 0%, #00ffff34 100% );
  box-shadow: 0 0 15px 15px rgba(0, 128, 0, 0.26);
  border-radius: 15px;
  display: flex;

  transition: 0.3s;
}

.about-me-image:hover
{
  scale: 1.03;
  box-shadow: 0 0 20px 20px rgba(2, 251, 255, 0.286);
}


/*#endregion AboutMe*/


/*#region Misc*/
footer
{
  bottom: 0;
  align-items: center;
  text-align: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background: linear-gradient(-45deg, #00ff0067 0%, #00ffff34 100% );
  box-shadow: 0 0 5px 5px rgba(0, 255, 0, 0.169);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}

.title_center
{
  font-family: 'Courier New', Courier, monospace;
  font-size: 36px;
  text-align: center;
  color: rgb(0, 255, 0);
}

.header-container
{
  position: relative;
  margin-top: 60px;
}

.header-link-target
{
  position: absolute;
  top: -68px;
  left: 0;
}

.small_text_center
{
  font-family: 'Courier New', Courier, monospace;
  font-size: large;
  text-align: center;
  color: rgb(255, 255, 255);
}


.line_dash_small
{
  width:10%;
  text-align:center;
  color: rgb(0, 255, 0);
  text-align: center;
}


.written-text
{
  font-family: 'Courier New', Courier, monospace;
  font-size: large;
  color: rgb(255, 255, 255);
}

.link
{
  font-family: 'Courier New', Courier, monospace;
  font-size: 18px;
  color: rgb(0, 255, 0);

  transition: font-size 0.3s, color 0.3s; 
}

.link:hover
{
    color: rgb(0, 217, 255);
    font-size: 22px;

}


.button-container
{
  display: flex;
  justify-content: center;
  justify-items: center;
  margin-top: 40px;

}

.view-more-button
{
  margin-top: 60px;
  margin-bottom: 60px;
  position: relative;
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
  font-size: 22px;
  font-weight: bold;
  background: linear-gradient(-45deg, #00ff0067 0%, #00ffff34 100% );
  box-shadow: 0 0 5px 5px rgba(0, 128, 0, 0.26);
  border-radius: 15px;
  color: #ffffff;
  border: none;
  cursor: pointer;
  width: 400px;
  height: 80px;
  transition: 0.3s;
}

.view-more-button:hover
{

  scale: 1.03;
  filter: brightness(0) saturate(100%) invert(76%) sepia(52%) saturate(2353%) hue-rotate(132deg) brightness(99%) contrast(105%);
  box-shadow: 0 0 5px 5px green;
}


/*#endregion Misc*/


/*#region Subpages*/


.subpage-centeral-column
{


    background-color: rgba(24, 24, 24, 0.715);

    margin-left: 10%;
    margin-right: 10%;
    display: grid;
    align-content: flex-start;
  
    grid-template-columns: repeat(auto-fit, minmax(1fr, 1fr));
    grid-template-rows: auto;
    grid-auto-rows: min-content;
  
    align-items: center;
    justify-items: center;
    justify-content: center;
    align-self: center;
}


.subpgae-project-topic
{

  margin-top: 50px; 
  margin-bottom: 20px;

  color: rgb(0, 255, 0);

  font-size: 48px;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  text-align: center;


  justify-items: center;
  justify-content: center;
  align-self: center;

}


.subpage-text-body
{

  max-width: 60%;
  height: auto;

  font-family: Calibri;
  align-items: center;
  text-align: center;
  font-size: 20px;
  color: rgb(255, 255, 255);
}


.subpage-image
{

  margin-top: 30px; 
  margin-bottom: 30px;

  max-width: 50%;
  height: auto;

  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  border-radius: 15px;
  display: flex;
  position: relative;
  text-align: center;
  transition: .25s;

  border-style: none;
  background-color: #000000;
  align-items: center;
  text-align: center;

}

.subpage-pdf
{
    width: 60vw;
    height: 80vw;
    max-width: 800px;
    max-height: 700px;

    margin: 20px;
}


.subpage-image-grid
{
    display: grid;
  
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-auto-rows: min-content;
  
    align-items: center;
    justify-items: center;
    justify-content: center;
    align-self: center;
}


/*#endregion Subpages*/




/*#region Resize by screen size */
  @media screen and (max-width: 680px) 
  {
    .body {
      background-size: 800px;
      margin-left: 0 !important;
      margin-right: 0 !important;
      padding-left: 15px;
      padding-right: 15px;
      width: auto;
      height: auto;
    }
    .home-large-text {font-size: 40px;}
    .home-sub-text {font-size: 16px;}
    .project-card-image {width: 320px; height: 180px; margin: auto;}
    .project-card { margin: auto;}
    .card-text-holder {width: 320px; margin: auto;}
    .card-tags-holder {width: 320px; margin-left: auto; margin-right: auto;}
    .home-showcase-video {width: 320px; height: 180px;}
    .about-me-holder {width: 320px;}

  }
/*#endregion Resize by screen size */