html {
  scroll-behavior: smooth;
}

body {
    margin: 0;
    font-size: 28px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #000000;
  }
  
  .header {
    background-color: #f1f1f1;
    padding: 30px;
    text-align: center;
  }
  



  .topnav {
    position: sticky;
    z-index: 100;
    top: 0;
    overflow: hidden;
    background-color: rgba(41, 41, 41, 0.8);
    opacity: 1.0;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    
  }

  .topnav .navbar-dropdown
  {
    display: none;
  }
  

  @media screen and (max-width: 680px) {
    .topnav a:not(:nth-child(4)) {display: none;}
    .topnav a.navbar-dropdown {
      position: sticky;
      float: right;
      display: block;
    }
  }
  

  @media screen and (max-width: 680px) {
    .topnav.responsive {position: sticky;}
    .topnav.responsive a.navbar-dropdown {
      position: sticky;
      right: 0;
      top: 0;
    }
    .topnav.responsive a {
      float: none;
      display: block;
      text-align: center;
    }
  }





  .topnav a {
    float: center;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
    display: inline-block;
    font-weight: bold;
  }

  .topnav a:hover {
    background-color: #353535;
    color: black;
    opacity: 1.0;
  }
  
  .topnav a.active {
    color: rgb(0, 255, 0);
    opacity: 1.0;
  }

  .topnav a.header
  {
    color: rgb(0, 255, 0);
    text-align: left;
    font-size: larger;
    text-indent: 1%;
  }

  .navbar-icon
  {
    width: 30px;
    margin-bottom: -8px;
    text-decoration: none;
    background:rgba(1, 1, 1, 0);
    filter: invert(65%) sepia(87%) saturate(4237%) hue-rotate(85deg) brightness(117%) contrast(129%);
  }


  
  .content {
    padding: 16px;
  }
  


.social-link
{

  align-items: center;
  padding: 20px;
  font-size: 10px;
  width: 10px;
  text-align: center;
  text-decoration: none;
  margin: 4px 2px;
  background:rgba(1, 1, 1, 0);
  filter: sepia(100%) saturate(0%) hue-rotate(288deg) brightness(102%) contrast(102%);
  
}

.social-link:hover
{
  filter: invert(75%) sepia(46%) saturate(7184%) hue-rotate(81deg) brightness(115%) contrast(125%);
}


.written-text
{
  font-family: 'Courier New', Courier, monospace;
  font-size: large;
  color: rgb(255, 255, 255);
}

.link
{
  font-family: 'Courier New', Courier, monospace;
  font-size: large;
  color: rgb(0, 255, 0);
}



.card-holder
{
  display: grid;
  align-content: flex-start;

  grid-template-columns: repeat(auto-fill, 500px);
  grid-template-rows: auto;
  grid-auto-rows: min-content;

  justify-items: center;
  justify-content: center;
  align-self: center;
  gap: 50px;
}

.project-card
{
  width: 420px;

  justify-items: center;
  justify-content: center;
  align-self: center;
}


.card-text-holder
{
  justify-items: center;
  justify-content: center;
  align-self: center;

  color: #f1f1f1;
}



.project-card-image
{
  height: 100%;
  width: 100%;

  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  border-radius: 15px;
  display: flex;
  position: relative;
  text-align: center;
  transition: .25s;

  border-style: none;
  width: 420px;
  height: 260px;
  background-color: #f2f2f2;
  align-items: center;
  text-align: center;
}


.project-card-image:hover
{
  transform: scale(1.02);
  filter: opacity(110%) invert(10%)

}


.project-card-title
{

}

.card-tags-holder
{
  width: 100%;

  display: flex;
  flex-wrap: wrap;
  column-gap: 10px;
  row-gap: 10px;

  margin: 10px 0;
}

.card-tags
{
  background-color: rgb(0, 255, 0);

  border-radius: 5px;
  font-size: 20px;
  color: rgb(0, 0, 0);
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  padding: 0 5px;
}

.card-tag-role
{
  background-color: #5dbea3;

  border-radius: 5px;
  font-size: 18px;
  color: rgb(255, 255, 255);
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
  padding: 0 5px;
}

.card-tag-project-type
{
  background-color: #ED0800;

  border-radius: 5px;
  font-size: 18px;
  color: rgb(255, 255, 255);
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
  padding: 0 5px;
}

.card-tag-tool
{
  background-color: #4681f4;

  border-radius: 5px;
  font-size: 18px;
  color: rgb(255, 255, 255);
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
  padding: 0 5px;
}

.card-tag-engine
{
  background-color: #b746f4;

  border-radius: 5px;
  font-size: 18px;
  color: rgb(255, 255, 255);
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
  padding: 0 5px;
}







footer
{
  bottom: 0;
  align-items: center;
  text-align: center;
  background-color:  rgba(41, 41, 41, 0.8);
}

.title_center
{
  font-family: 'Courier New', Courier, monospace;
  font-size: 36px;
  text-align: center;
  color: rgb(0, 255, 0);
}

.header-container
{
  position: relative;
}

.header-link-target
{
  position: absolute;
  top: -48px;
  left: 0;
}

.small_text_center
{
  font-family: 'Courier New', Courier, monospace;
  font-size: large;
  text-align: center;
  color: rgb(255, 255, 255);
}


.line_dash_small
{
  width:10%;
  text-align:center;
  color: rgb(0, 255, 0);
  text-align: center;
}
